# The Graph API key for querying subgraphs
THEGRAPH_API_KEY=add
# Dify API key for specific workflow executions
KEY_curation_user_signals=add
KEY_pull_subgraph_query_volume=add
KEY_unsignal_from_subgraph=add
KEY_curation_best_opportunities=add
KEY_pull_grt_balance_from_subgraph=add
KEY_curate_subgraph=add

# RPC URL to perform transactions
RPC_URL="add"
# Agent info
AGENT_WALLET=add

# Base URLs
THEGRAPH_API_URL="add"
DIFY_URL="add"